<section>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div style="width: 80%;">
                            <h1>Contactez-nous</h1>
                           <img src="/assets/icon/location.png" alt="" width="35" height="40"> 
                           <span style="font-weight: bold; margin: 12px;">99 St Georges, 75009 Paris </span>
                           <h3>   🇫🇷  téléphone   +33x xx xx xx xx </h3>   
                        </div>
                    </div>
                    <div class="flex-item-medium"> 
                        <div style="width: 100%;display: flex; flex-direction: column;text-align: center;">
                            <h3 style="width: 100%;">Nos réseaux sociaux </h3>
                            <div style="width: 100%; display: flex;justify-content: center; padding: 8px;">
                                <div style="margin: 0 3%; text-align: center;">
                                    <a routerLink="Services"   routerLinkActive="linkActive"><img src="/assets/icon/linkdin.jpeg" alt="" width="35" height="40"></a>
                                </div>
                                <div style="margin: 0 3%; text-align: center;">
                                    <a routerLink="Services"   routerLinkActive="linkActive"><img src="/assets/icon/twitter.jpg" alt="" width="35" height="40"></a>
                                </div>
                                <div style="margin: 0 3%; text-align: center;">
                                    <a routerLink="Services"   routerLinkActive="linkActive"><img src="/assets/icon/facebook.png" alt="" width="35" height="40"></a>
                                </div>
                                <div style="margin: 0 3%; text-align: center;">
                                    <a routerLink="Services"   routerLinkActive="linkActive"><img src="/assets/icon/youtube.jpeg" alt="" width="35" height="40"></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="flex-item-tree">
                        <div style="width: 100%;display: flex; flex-direction: column;margin-left: 20%;">
                            <h3 style="width: 100%;">NAVIGATION</h3>
                            <div class="navigate">
                                <a routerLink="About Us"   routerLinkActive="linkActive">About Us</a>
                                <a routerLink="Services"   routerLinkActive="linkActive">Services</a>
                                <a routerLink="On-Demand Developers"   routerLinkActive="linkActive">On-Demand Developers</a>
                                <a routerLink="Case Studies"   routerLinkActive="linkActive">Case Studies</a>
                                <a routerLink="Blog"   routerLinkActive="linkActive">Blog</a>
                                <a routerLink="Contact Us"   routerLinkActive="linkActive">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div style="width: 50%;">
                            <div class="col-xs-12 col-sm-6 col-md-2"><div class="col-xs-4 col-md-12 padding-top-15"><img alt="AICPA" data-src="https://www.chetu.com/img/AICPA-logo.png" class="img-responsive margin-auto lazyloaded" src="https://www.chetu.com/img/AICPA-logo.png"></div><div class="col-xs-4 col-md-12 padding-top-15"><img alt="Inc. 5000" data-src="https://www.chetu.com/img/inc5000.png" class="img-responsive margin-auto lazyloaded" src="https://www.chetu.com/img/inc5000.png"></div></div>
                        </div>
                    </div>
               
                </div>
            </div>            
        </div>
    </div>
</section>