section { 
    background: #f0f0f0f0;
    border-top: 6px solid #0097a4;
    margin: 60px 0 0 0;
    padding: 20px 0;
    .flex-container {
      display: flex;
      flex-direction: wrap;
      //font-size: 30px;
      //text-align: center;
    }
    .flex-container>div{
      padding: 10px;
      flex: 25%;
      display: flex;
      justify-content: center;
      //border: 2px solid red;
    }
    .navigate{width: 70%;display: flex; flex-direction: column;padding: 0;
        //border: 2px solid red;
        a {//border: 2px solid red;
            text-decoration: none;
            color: black;
            font-size: 16px;
            padding-bottom: 8px;
            width: 100%;
        }
    }

    
    
    /* Responsive layout - makes a one column-layout instead of two-column layout */
    @media (max-width: 800px) {
      .flex-container {
        flex-direction: column;
      }
    }
  }