<div style="width: 100%; height: 1100px; 
            background: rgb(0, 151, 164,0.9); 
            display: flex;
            justify-content: center;
            align-items: center;">
    <h1 style="font-size: 60px; color: #FFCC00; font-family: Lucida Console, Courier New, monospace;
                font-weight: bold;">Agriculture</h1>
</div>
