.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
  
}
.my-drop-down {
  display: block;  
  float: right;
 
}
.my-drop-down > a , a {
  float: left;
 // width: 100%;
  display: block;
  //color: rgb(255, 255, 255);
  color: #000;
  padding:  0;
  margin: 9px 5px 10px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  // border: 1px solid red;
  mat-icon {
  //border: 2px solid rgb(62, 69, 70);
    margin: -3px 10px 5px 10px;
  }
}

.my-drop-downSECTEURS >.dropdown-menu.show {
  position: absolute !important;
  top: 33% !important;
  left: -850px !important;
  //width: 100%;
}
.my-drop-downSOLUTIONS >.dropdown-menu.show {
  position: absolute !important;
  top: 33% !important;
  left: -1120px !important;
}
.my-drop-downSERVIES >.dropdown-menu.show {
  position: absolute !important;
  top: 33% !important;
  left: -324px !important;
}
.my-drop-downPORTFOLIO >.dropdown-menu.show {
  position: absolute !important;
  white-space: nowrap;
  top: 33% !important;
  left: -24px !important;
}


.lv {
  border-left: 1px solid rgb(15, 148, 236);
  min-height: 70% !important;  
  margin: 0 20px 0 20px;
}
.lv1 {
  min-height: 70% !important;  
  margin: 0 2px ;
  //border-left: 1px solid rgb(248, 44, 8);
}



.dropdown-toggle::after {
  display: none !important;
}

.menuBlok {
  width: 400px;
  margin: 0 15px;
}

.linkActive {
  background: rgba(153, 146, 146, 0.445);
  font-weight: bold;
}

.active{
  border-bottom: 2px solid rgb(0, 174, 255) ;
}




.flex-container > div {
  
  width: auto;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
}
button {
  width: 150px;
  height: 40px;
  display: flex;
  padding: 9px;
  justify-content: center;
}




@media screen and (max-width: 1700px) {
  .flex-container .nav-item .menuBlok {
    width: 300px;
  }

  .my-drop-downSECTEURS >.dropdown-menu.show {
    left: -500px !important;
    //width: 100%;
  }
  .my-drop-downSOLUTIONS >.dropdown-menu.show {
    left: -724px !important;
  }
  
}





