
<div class="flex-container">
    <div #myDropSECTEURS="ngbDropdown" ngbDropdown class="nav-item my-drop-downSECTEURS" [ngClass]="{active: myDropSECTEURS.isOpen() ==true}">
        <a  id="dropdownSECTEURS" ngbDropdownToggle [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">SECTEURS
            <mat-icon *ngIf = "myDropSECTEURS.isOpen() ==true" >clear</mat-icon>
            <mat-icon *ngIf = "myDropSECTEURS.isOpen() ==false">keyboard_arrow_down</mat-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownSECTEURS" class="dropdown-menu" >
            <div style="width: 100%; display: flex; justify-content: space-around;">
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="secteurs/Agriculteur"   routerLinkActive="linkActive">Agriculture</a>
                    <a ngbDropdownItem routerLink="Aviation"   routerLinkActive="linkActive">Aviation</a>
                    <a ngbDropdownItem routerLink="secteurs/Banque"   routerLinkActive="linkActive">Bancaire</a>
                    <a ngbDropdownItem routerLink="Jeux de casino"   routerLinkActive="linkActive">Jeux de casino</a>
                    <a ngbDropdownItem routerLink="Construction"   routerLinkActive="linkActive">Construction</a>
                    <a ngbDropdownItem routerLink="Corrections"   routerLinkActive="linkActive">Corrections</a>
                    <a ngbDropdownItem routerLink="Apprentissage en ligne et éducation"   routerLinkActive="linkActive">Apprentissage en ligne et éducation</a>
                    <a ngbDropdownItem routerLink="Énergie et services publics"   routerLinkActive="linkActive">Énergie et services publics</a>
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Gestion de l'environnement"   routerLinkActive="linkActive">Gestion de l'environnement</a>
                    <a ngbDropdownItem routerLink="La finance"   routerLinkActive="linkActive">La finance</a>
                    <a ngbDropdownItem routerLink="nourriture et boissons"   routerLinkActive="linkActive">nourriture et boissons</a>
                    <a ngbDropdownItem routerLink="Jeux"   routerLinkActive="linkActive">Jeux</a>
                    <a ngbDropdownItem routerLink="Soins de santé"   routerLinkActive="linkActive">Soins de santé</a>
                    <a ngbDropdownItem routerLink="Hôtellerie & Voyage"   routerLinkActive="linkActive">Hôtellerie & Voyage</a>
                    <a ngbDropdownItem routerLink="Gestion du capital humain (HCM)"   routerLinkActive="linkActive">Gestion du capital humain (HCM)</a>
                    <a ngbDropdownItem routerLink="Légal"   routerLinkActive="linkActive">Légal</a>
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Prêt"   routerLinkActive="linkActive">Prêt</a>
                    <a ngbDropdownItem routerLink="Médias et divertissement"   routerLinkActive="linkActive">Médias et divertissement</a>
                    <a ngbDropdownItem routerLink="Réunions et événements"   routerLinkActive="linkActive">Réunions et événements</a>
                    <a ngbDropdownItem routerLink="Non lucratif"   routerLinkActive="linkActive">Non lucratif</a>
                    <a ngbDropdownItem routerLink="Gaz de pétrole"   routerLinkActive="linkActive">Gaz de pétrole</a>
                    <a ngbDropdownItem routerLink="Paiements"   routerLinkActive="linkActive">Paiements</a>
                    <a ngbDropdownItem routerLink="Campagnes politiques"   routerLinkActive="linkActive">Campagnes politiques</a>
                    <a ngbDropdownItem routerLink="Vendre au détail"   routerLinkActive="linkActive">Vendre au détail</a>
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Immobilier"   routerLinkActive="linkActive">Immobilier</a>
                    <a ngbDropdownItem routerLink="Des sports"   routerLinkActive="linkActive">Des sports</a>
                    <a ngbDropdownItem routerLink="Chaîne d'approvisionnement"   routerLinkActive="linkActive">Chaîne d'approvisionnement</a>
                    <a ngbDropdownItem routerLink="Télécommunications"   routerLinkActive="linkActive">Télécommunications</a>
                    <a ngbDropdownItem routerLink="Transport"   routerLinkActive="linkActive">Transport</a>
                </div>
               
            </div>  
        </div>
    </div>


    <div #myDropSERVIES="ngbDropdown" ngbDropdown class="nav-item my-drop-downSERVIES" [ngClass]="{active: myDropSERVIES.isOpen() ==true}">
        <a  id="dropdownSERVIES" ngbDropdownToggle [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">SERVIES
            <mat-icon *ngIf = "myDropSERVIES.isOpen() ==true" >clear</mat-icon>
            <mat-icon *ngIf = "myDropSERVIES.isOpen() ==false">keyboard_arrow_down</mat-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownSERVIES" class="dropdown-menu" >
            <div style="width: auto; display: flex; justify-content: space-around;">                
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Custom Software Services"   routerLinkActive="linkActive">Custom Software Services</a>
                    <a ngbDropdownItem routerLink="API Development"   routerLinkActive="linkActive">API Development</a>
                    <a ngbDropdownItem routerLink="Application Development"   routerLinkActive="linkActive">Application Development</a>
                    <a ngbDropdownItem routerLink="Application Maintenance"   routerLinkActive="linkActive">Application Maintenance</a>
                    <a ngbDropdownItem routerLink="Backup & Disaster Recovery"   routerLinkActive="linkActive">Backup & Disaster Recovery</a>
                    <a ngbDropdownItem routerLink="DevOps"   routerLinkActive="linkActive">DevOps</a>
                    <a ngbDropdownItem routerLink="Implementation & Deployment"   routerLinkActive="linkActive">Implementation & Deployment</a>
                    <a ngbDropdownItem routerLink="Infrastructure Support"   routerLinkActive="linkActive">Infrastructure Support</a>
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Migrations & Upgrades"   routerLinkActive="linkActive">Migrations & Upgrades</a>
                    <a ngbDropdownItem routerLink="Product Lifecycle Management (PLM)"   routerLinkActive="linkActive">Product Lifecycle Management (PLM)</a>
                    <a ngbDropdownItem routerLink="Quality Assurance (QA Testing)"   routerLinkActive="linkActive">Quality Assurance (QA Testing)</a>
                    <a ngbDropdownItem routerLink="SLA Support"   routerLinkActive="linkActive">SLA Support</a>
                    <a ngbDropdownItem routerLink="Software Security"   routerLinkActive="linkActive">Software Security</a>
                    <a ngbDropdownItem routerLink="Startup & MVP Services"   routerLinkActive="linkActive">Startup & MVP Services</a>
                    <a ngbDropdownItem routerLink="Systems Integration"   routerLinkActive="linkActive">Systems Integration</a>
                    <a ngbDropdownItem routerLink="Web Hosting"   routerLinkActive="linkActive">Web Hosting</a>
                 </div>
                 <div class="lv1"></div>
            </div>  
        </div>
    </div>

    <div #myDropSOLUTIONS="ngbDropdown" ngbDropdown class="nav-item my-drop-downSOLUTIONS" [ngClass]="{active: myDropSOLUTIONS.isOpen() ==true}">
        <a  id="dropdownSOLUTIONS" ngbDropdownToggle [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">SOLUTIONS
            <mat-icon *ngIf = "myDropSOLUTIONS.isOpen() ==true" >clear</mat-icon>
            <mat-icon *ngIf = "myDropSOLUTIONS.isOpen() ==false">keyboard_arrow_down</mat-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownSOLUTIONS" class="dropdown-menu" >
            <div style="width: auto; display: flex; justify-content: space-around;">
                
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Animation & Graphic Design"   routerLinkActive="linkActive">Animation & Graphic Design</a>
                    <a ngbDropdownItem routerLink="Artificial Intelligence"   routerLinkActive="linkActive">Artificial Intelligence</a>
                    <a ngbDropdownItem routerLink="Asset Tracking (RFID & Barcode)"   routerLinkActive="linkActive">Asset Tracking (RFID & Barcode)</a>
                    <a ngbDropdownItem routerLink="AR / VR"   routerLinkActive="linkActive">AR / VR</a>
                    <a ngbDropdownItem routerLink="Autodesk"   routerLinkActive="linkActive">Autodesk</a>
                    <a ngbDropdownItem routerLink="Blockchain"   routerLinkActive="linkActive">Blockchain</a>
                    <a ngbDropdownItem routerLink="Business Intelligence & Analytics"   routerLinkActive="linkActive">Business Intelligence & Analytics</a>
                    <a ngbDropdownItem routerLink="Cloud"   routerLinkActive="linkActive">Cloud</a>
                    <a ngbDropdownItem routerLink="CMS"   routerLinkActive="linkActive">CMS</a>
                    <a ngbDropdownItem routerLink="CRM"   routerLinkActive="linkActive">CRM</a>
                    <a ngbDropdownItem routerLink="Database"   routerLinkActive="linkActive">Database</a>
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Digital Asset Management"   routerLinkActive="linkActive">Digital Asset Management</a>
                    <a ngbDropdownItem routerLink="Digital Marketing"   routerLinkActive="linkActive">Digital Marketing</a>
                    <a ngbDropdownItem routerLink="Digital Signage"   routerLinkActive="linkActive">Digital Signage</a>
                    <a ngbDropdownItem routerLink="Document Management"   routerLinkActive="linkActive">Document Management</a>
                    <a ngbDropdownItem routerLink="Embedded Software"   routerLinkActive="linkActive">Embedded Software</a>
                    <a ngbDropdownItem routerLink="ERP"   routerLinkActive="linkActive">ERP</a>
                    <a ngbDropdownItem routerLink="Facilities Management"   routerLinkActive="linkActive">Facilities Management</a>
                    <a ngbDropdownItem routerLink="Field Service Management"   routerLinkActive="linkActive">Field Service Management</a>
                    <a ngbDropdownItem routerLink="Firmware"   routerLinkActive="linkActive">Firmware</a>
                    <a ngbDropdownItem routerLink="Franchise Management"   routerLinkActive="linkActive">Franchise Management</a>
                    <a ngbDropdownItem routerLink="Fraud Protection"   routerLinkActive="linkActive">Fraud Protection</a>
                    
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="GIS"   routerLinkActive="linkActive">GIS</a>
                    <a ngbDropdownItem routerLink="IOT & M2M"   routerLinkActive="linkActive">IOT & M2M</a>
                    <a ngbDropdownItem routerLink="IT Service Management"   routerLinkActive="linkActive">IT Service Management</a>
                    <a ngbDropdownItem routerLink="Kiosk"   routerLinkActive="linkActive">Kiosk</a>
                    <a ngbDropdownItem routerLink="Legacy"   routerLinkActive="linkActive">Legacy</a>
                    <a ngbDropdownItem routerLink="Location Based Services"   routerLinkActive="linkActive">Location Based Services</a>
                    <a ngbDropdownItem routerLink="Middleware"   routerLinkActive="linkActive">Middleware</a>
                    <a ngbDropdownItem routerLink="Mobile & Tablet"   routerLinkActive="linkActive">Mobile & Tablet</a>
                    <a ngbDropdownItem routerLink="Netsuite"   routerLinkActive="linkActive">Netsuite</a>
                    <a ngbDropdownItem routerLink="Open Source"   routerLinkActive="linkActive">Open Source</a>
                    <a ngbDropdownItem routerLink="Oracle"   routerLinkActive="linkActive">Oracle</a>
                    
                </div>
                <div class="lv"></div>
                <div class="menuBlok">
                    <a ngbDropdownItem routerLink="Sales Management"   routerLinkActive="linkActive">Sales Management</a>
                    <a ngbDropdownItem routerLink="SAP"   routerLinkActive="linkActive">SAP</a>
                    <a ngbDropdownItem routerLink="Telephony"   routerLinkActive="linkActive">Telephony</a>
                    <a ngbDropdownItem routerLink="Ticketing"   routerLinkActive="linkActive">Ticketing</a>
                    <a ngbDropdownItem routerLink="UI / UX"   routerLinkActive="linkActive">UI / UX</a>
                    <a ngbDropdownItem routerLink="UiPath"   routerLinkActive="linkActive">UiPath</a>
                    <a ngbDropdownItem routerLink="Wearable Technology"   routerLinkActive="linkActive">Wearable Technology</a>
                    <a ngbDropdownItem routerLink="Web Development"   routerLinkActive="linkActive">Web Development</a>
                    <a ngbDropdownItem routerLink="POS / Payment Processing"   routerLinkActive="linkActive">POS / Payment Processing</a>
                    <a ngbDropdownItem routerLink="Salesforce"   routerLinkActive="linkActive">Salesforce</a>
                </div>
                
            </div>  
        </div>
    </div>


   

    <div>
        <a class="DevTec" routerLink="portfolio"  routerLinkActive="linkActive" [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">DEVELOPPEMENT ET TECHNOLOGIE</a>
      </div>
      <div #myDropPORTFOLIO="ngbDropdown" ngbDropdown class="nav-item my-drop-downPORTFOLIO" [ngClass]="{active: myDropPORTFOLIO.isOpen() ==true}">
        <a  id="dropdownPORTFOLIO" ngbDropdownToggle [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">PORTFOLIO
            <mat-icon *ngIf = "myDropPORTFOLIO.isOpen() ==true" >clear</mat-icon>
            <mat-icon *ngIf = "myDropPORTFOLIO.isOpen() ==false">keyboard_arrow_down</mat-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownPORTFOLIO" class="dropdown-menu" >
            <div style="width: 100%; display: flex; justify-content: space-around;">
                <div>
                    <a ngbDropdownItem routerLink="Our Clients"   routerLinkActive="linkActive">Our Clients</a>
                    <a ngbDropdownItem routerLink="Our Work"   routerLinkActive="linkActive">Our Work</a>
                 </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary">CONTACT</button>
    </div>
    

</div>





















































<!--<div class="menu">
    <div class="logo"></div>
    <div class="menuContener">
        <div class="menuContact">
            <p>appelez   :   🇫🇷    +33x xx xx xx xx </p>
        </div>
        <div class="topnav" id="myTopnav">
            <a routerLink="secteurs">secteurs</a>
            <a routerLink="solutions">solutions</a>
            <a routerLink="services">services</a>
            <a routerLink="portfolio">portfolio</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>-->
