<p>portfolio works!</p>
<!--
    <div class="marquee">
                        <div class="marqueeone">
                            <img src="/assets/images/images (1).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (2).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (3).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (4).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (5).png" width="140" height="50" alt="">
                        </div>
                        <div class="marqueetwo">
                            <img src="/assets/images/images.png" width="140" height="50" alt="">
                            <img src="/assets/images/images1.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images2.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images3.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images4.jpeg" width="140" height="50" alt="">
                        </div>
                        <div class="marqueethree">
                            <img src="/assets/images/images5.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images6.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images7.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images8.jpeg" width="140" height="50" alt="">
                            <img src="/assets/images/images (1).png" width="140" height="50" alt="">
                        </div>
                        <div class="marqueefour">
                            <img src="/assets/images/images (2).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (3).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (4).png" width="140" height="50" alt="">
                            <img src="/assets/images/images (5).png" width="140" height="50" alt="">
                            <img src="/assets/images/images.png" width="140" height="50" alt="">
                        </div>
                    </div>


.marquee {
  height: 150px;
  width: 80%;
  overflow: hidden;
  position: relative;
  background:transparent !important;  
  padding: 8px 0 4px 0;
  
}
.marquee div {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
 
}

/* would need to be adjusted depending on time */
.marquee .marqueeone{
  animation: marquee 10s linear infinite
}

.marquee .marqueetwo{
  animation: marquee 10s linear 2.5s infinite 
}

.marquee .marqueethree{
  animation: marquee 10s linear 5s infinite
}

.marquee .marqueefour{
  animation: marquee 10s linear 7.5s infinite
}

/* even out the elements */


/*.marquee:hover div {
  animation-play-state: paused;
}*/

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
  0% { left: 100%; }
  50% { left: -100%; }
  100% {left: -100%}
}
-->