.menutele{
    //background: rgb(0, 40, 77); 
    //background: rgba(255, 255, 255, 0);
    height: 35%; margin: 0;
    //opacity: 0.8;
}
p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 24px;
    padding: 14px 16px;
    margin: 0;
    color: rgb(255, 255, 255);
    //color: rgb(2, 2, 2);
    float: right;
}
img {
    padding: 0;
    margin: 0;
}
.contener {
    width: 100%; height: auto; 
}
.Body {
    position: absolute;
    top: 0;
    //z-index: -1;
    width: 100%; height: auto; //border: 1px solid yellow; 
    /*background-image: url("/assets/images.jpeg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;*/
}

div.logo {
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;  
    text-align: center;
    //color: rgb(255, 255, 255);
    //background: rgba(255, 255, 255, 0);
    .plogo{
        justify-content: center;
        border-top: 2px solid #FFCC00;
        border-bottom: 2px solid #FFCC00;
        padding: 10px 0;
        font-size: 30px;
        margin: 5px;
    }
}

.menu-large { z-index: 1;}
.menu-small{ height: auto; padding: 0; z-index: 1;}
@media screen and (max-width: 1436px) {
    .menu-large {display: none;}
    .menu-small{position: sticky;top: 0;}
}
@media screen and (min-width: 1435px) {
    .menu-small{display: none;}
    .menu-large {position: sticky;top: 0;}
    
}


button {
    background: rgb(0, 151, 164, 0.8);
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    margin: 3%;
    //align-self: flex-end;
    mat-icon {
        color: white;
    }
}
