
    <div class="menu-large" [ngStyle]="{'background':posY > 50 ? 'rgba(255, 255, 255,0.7)' : 'rgba(255, 255, 255,0)'}">    
        <div style="width: 100%; height: 13%; display: flex;flex-direction: row;">
            <a href="#" style="width: 18%; text-decoration: none; padding: 19px;">
                <div class="logo" [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">
                    <span class="plogo">CAPCARBON</span>    
                    <span>TECHNOLOGIE</span>
                </div>
            </a>
            <div style="width: 100%;">
                <div class="menutele" >        
                    <p [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">appelez   :   🇫🇷    +33x xx xx xx xx </p>               
                </div>
                <div style="height: 65%; padding: 16px;">
                    <app-menu></app-menu>
                </div>        
            </div>
        </div>
    </div>
    <div class="menu-small">
        <app-menu-small></app-menu-small>
    </div>
    <div class="Body" appScrollPosition>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <button [ngStyle]="{'display':posY > 200 ? 'inherit' : 'none'}"
            (click) = "scrollTop()"
            mat-mini-fab
            matTooltip="scrollTop"
            matTooltipPosition="above"
            aria-label="scrollTop" color = "">
            <mat-icon>arrow_upward</mat-icon>
            
        </button>
    </div>
<!--

 <ul class="flex-container">
     <li><a routerLink="secteurs"   routerLinkActive="linkActive">SECTEURS</a></li>
                        <li> <a routerLink="solutions" routerLinkActive="linkActive">SOLUTIONS</a></li>                                
                        <li><a routerLink="services"   routerLinkActive="linkActive">SERVICES</a></li>
                        <li><a routerLink="portfolio"  routerLinkActive="linkActive">PORTFOLIO</a></li>
                        <li><a routerLink="portfolio"  routerLinkActive="linkActive">DEVELOPPEMENT ET TECHNOLOGIE</a></li>
                        <li><a routerLink="COMPANIE"  routerLinkActive="linkActive">COMPANIE</a></li>
                        <li>
                            <button type="button" class="btn btn-primary">CONTACT</button>
                        </li>
  </ul>







    <div style=" position: -webkit-sticky; position: sticky;top: 0;">
    <app-menu></app-menu>
</div>
<div style="width: 100%; height: 1500px; border: 1px solid black;">
    <router-outlet></router-outlet>
</div>
-->