<div style="width: 100%; min-width: 300px; height: auto; display: flex;flex-direction: column;" [ngStyle]="{'background':posY > 50 ? 'rgba(255, 255, 255,0.7)' : 'rgba(255, 255, 255,0)'}">
    <div style="width: 100%; display: flex;flex-direction: row;">
        <a href="#"  class="alogo" >
            <div class="logo" [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">
                <span class="plogo">CAPCARBON</span>    
                <span>TECHNOLOGIE</span>
            </div>
        </a>
        <div class="topnav">            
            <p class="teleph" [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">appelez   :   🇫🇷    +33x xx xx xx xx </p>           
            <span *ngIf = "!isMenu"  style="font-size:25px;cursor:pointer;" class="icon" (click)="doSomething()" [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">&#9776;</span>
            <mat-icon *ngIf = "isMenu" (click)="doSomething()" class="clear" [ngStyle]="{'color':posY > 50 ? 'black' : 'white' }">clear</mat-icon>            
        </div>
    </div>
    <div *ngIf = "isMenu" class="menu-niveau-1">
        <div class="menu-niveau-2">            
                <div class="menu-niveau-3" (click)="openSubMenu('SECTEURS')">
                    <span>SECTEURS</span> 
                    <mat-icon *ngIf = "isSubMenuSECTEURS"  style="float: right;">clear</mat-icon>
                    <mat-icon *ngIf = "!isSubMenuSECTEURS"  style="float: right;">keyboard_arrow_down</mat-icon>
                    <ul *ngIf = "isSubMenuSECTEURS" (click)="doSomething()">
                        <li><a  routerLink="secteurs/Agriculteur"       routerLinkActive="linkActive">Agriculture</a></li>
                        <li><a  routerLink="Aviation"                   routerLinkActive="linkActive">Aviation</a></li>
                        <li><a  routerLink="secteurs/Banque"            routerLinkActive="linkActive">Bancaire</a></li>
                        <li><a  routerLink="Jeux de casino"             routerLinkActive="linkActive">Jeux de casino</a></li>
                        <li><a  routerLink="Construction"   routerLinkActive="linkActive">Construction</a></li>
                        <li><a  routerLink="Corrections"   routerLinkActive="linkActive">Corrections</a></li>
                        <li><a  routerLink="Apprentissage en ligne et éducation"   routerLinkActive="linkActive">Apprentissage en ligne et éducation</a></li>
                        <li><a  routerLink="Énergie et services publics"   routerLinkActive="linkActive">Énergie et services publics</a></li>
                        <li><a  routerLink="Gestion de l'environnement"   routerLinkActive="linkActive">Gestion de l'environnement</a></li>
                        <li><a  routerLink="La finance"   routerLinkActive="linkActive">La finance</a></li>
                        <li><a  routerLink="nourriture et boissons"   routerLinkActive="linkActive">nourriture et boissons</a></li>
                        <li><a  routerLink="Jeux"   routerLinkActive="linkActive">Jeux</a></li>
                        <li><a  routerLink="Soins de santé"   routerLinkActive="linkActive">Soins de santé</a></li>
                        <li><a  routerLink="Hôtellerie & Voyage"   routerLinkActive="linkActive">Hôtellerie & Voyage</a></li>
                        <li><a  routerLink="Gestion du capital humain (HCM)"   routerLinkActive="linkActive">Gestion du capital humain (HCM)</a></li>
                        <li><a  routerLink="Légal"   routerLinkActive="linkActive">Légal</a></li>
                        <li><a  routerLink="Prêt"   routerLinkActive="linkActive">Prêt</a></li>
                        <li><a  routerLink="Médias et divertissement"   routerLinkActive="linkActive">Médias et divertissement</a></li>
                        <li><a  routerLink="Réunions et événements"   routerLinkActive="linkActive">Réunions et événements</a></li>
                        <li><a  routerLink="Non lucratif"   routerLinkActive="linkActive">Non lucratif</a></li>
                        <li><a  routerLink="Gaz de pétrole"   routerLinkActive="linkActive">Gaz de pétrole</a></li>
                        <li><a  routerLink="Paiements"   routerLinkActive="linkActive">Paiements</a></li>
                        <li><a  routerLink="Campagnes politiques"   routerLinkActive="linkActive">Campagnes politiques</a></li>
                        <li><a  routerLink="Vendre au détail"   routerLinkActive="linkActive">Vendre au détail</a></li>
                        <li><a  routerLink="Immobilier"   routerLinkActive="linkActive">Immobilier</a></li>
                        <li><a  routerLink="Des sports"   routerLinkActive="linkActive">Des sports</a></li>
                        <li><a  routerLink="Chaîne d'approvisionnement"   routerLinkActive="linkActive">Chaîne d'approvisionnement</a></li>
                        <li><a  routerLink="Télécommunications"   routerLinkActive="linkActive">Télécommunications</a></li>
                        <li><a  routerLink="Transport"   routerLinkActive="linkActive">Transport</a></li>
                    </ul>
                </div>
                <div class="menu-niveau-3"  (click)="openSubMenu('SOLUTIONS')">
                    <span>SOLUTIONS</span> 
                    <mat-icon *ngIf = "isSubMenuSOLUTIONS"  style="float: right;">clear</mat-icon>
                    <mat-icon *ngIf = "!isSubMenuSOLUTIONS"  style="float: right;">keyboard_arrow_down</mat-icon>
                    <ul *ngIf = "isSubMenuSOLUTIONS" (click)="doSomething()">
                        <li><a  routerLink="Animation & Graphic Design"   routerLinkActive="linkActive">Animation & Graphic Design</a></li>
                        <li><a  routerLink="Artificial Intelligence"   routerLinkActive="linkActive">Artificial Intelligence</a></li>
                        <li><a  routerLink="Asset Tracking (RFID & Barcode)"   routerLinkActive="linkActive">Asset Tracking (RFID & Barcode)</a></li>
                        <li><a  routerLink="AR / VR"   routerLinkActive="linkActive">AR / VR</a></li>
                        <li><a  routerLink="Autodesk"   routerLinkActive="linkActive">Autodesk</a></li>
                        <li><a  routerLink="Blockchain"   routerLinkActive="linkActive">Blockchain</a></li>
                        <li><a  routerLink="Business Intelligence & Analytics"   routerLinkActive="linkActive">Business Intelligence & Analytics</a></li>
                        <li><a  routerLink="Cloud"   routerLinkActive="linkActive">Cloud</a></li>
                        <li><a  routerLink="CMS"   routerLinkActive="linkActive">CMS</a></li>
                        <li><a  routerLink="CRM"   routerLinkActive="linkActive">CRM</a></li>
                        <li><a  routerLink="Database"   routerLinkActive="linkActive">Database</a></li>
                        <li><a  routerLink="Digital Asset Management"   routerLinkActive="linkActive">Digital Asset Management</a></li>
                        <li><a  routerLink="Digital Marketing"   routerLinkActive="linkActive">Digital Marketing</a></li>
                        <li><a  routerLink="Digital Signage"   routerLinkActive="linkActive">Digital Signage</a></li>
                        <li><a  routerLink="Document Management"   routerLinkActive="linkActive">Document Management</a></li>
                        <li><a  routerLink="Embedded Software"   routerLinkActive="linkActive">Embedded Software</a></li>
                        <li><a  routerLink="ERP"   routerLinkActive="linkActive">ERP</a></li>
                        <li><a  routerLink="Facilities Management"   routerLinkActive="linkActive">Facilities Management</a></li>
                        <li><a  routerLink="Field Service Management"   routerLinkActive="linkActive">Field Service Management</a></li>
                        <li><a  routerLink="Firmware"   routerLinkActive="linkActive">Firmware</a></li>
                        <li><a  routerLink="Franchise Management"   routerLinkActive="linkActive">Franchise Management</a></li>
                        <li><a  routerLink="Fraud Protection"   routerLinkActive="linkActive">Fraud Protection</a></li>
                        <li><a  routerLink="GIS"   routerLinkActive="linkActive">GIS</a></li>
                        <li><a  routerLink="IOT & M2M"   routerLinkActive="linkActive">IOT & M2M</a></li>
                        <li><a  routerLink="IT Service Management"   routerLinkActive="linkActive">IT Service Management</a></li>
                        <li><a  routerLink="Kiosk"   routerLinkActive="linkActive">Kiosk</a></li>
                        <li><a  routerLink="Legacy"   routerLinkActive="linkActive">Legacy</a></li>
                        <li><a  routerLink="Location Based Services"   routerLinkActive="linkActive">Location Based Services</a></li>
                        <li><a  routerLink="Middleware"   routerLinkActive="linkActive">Middleware</a></li>
                        <li><a  routerLink="Mobile & Tablet"   routerLinkActive="linkActive">Mobile & Tablet</a></li>
                        <li><a  routerLink="Netsuite"   routerLinkActive="linkActive">Netsuite</a></li>
                        <li><a  routerLink="Open Source"   routerLinkActive="linkActive">Open Source</a></li>
                        <li><a  routerLink="Oracle"   routerLinkActive="linkActive">Oracle</a></li>
                        <li><a  routerLink="POS / Payment Processing"   routerLinkActive="linkActive">POS / Payment Processing</a></li>
                        <li><a  routerLink="Salesforce"   routerLinkActive="linkActive">Salesforce</a></li>
                        <li><a  routerLink="Sales Management"   routerLinkActive="linkActive">Sales Management</a></li>
                        <li><a  routerLink="SAP"   routerLinkActive="linkActive">SAP</a></li>
                        <li><a  routerLink="Telephony"   routerLinkActive="linkActive">Telephony</a></li>
                        <li><a  routerLink="Ticketing"   routerLinkActive="linkActive">Ticketing</a></li>
                        <li><a  routerLink="UI / UX"   routerLinkActive="linkActive">UI / UX</a></li>
                        <li><a  routerLink="UiPath"   routerLinkActive="linkActive">UiPath</a></li>
                        <li><a  routerLink="Wearable Technology"   routerLinkActive="linkActive">Wearable Technology</a></li>
                        <li><a  routerLink="Web Development"   routerLinkActive="linkActive">Web Development</a></li>
                    </ul>
                </div>
                <div class="menu-niveau-3" (click)="openSubMenu('SERVIES')">
                    <span>SERVIES</span> 
                    <mat-icon *ngIf = "isSubMenuSERVIES"  style="float: right;" >clear</mat-icon>
                    <mat-icon *ngIf = "!isSubMenuSERVIES"  style="float: right;">keyboard_arrow_down</mat-icon>
                    <ul *ngIf = "isSubMenuSERVIES" (click)="doSomething()">
                        <li><a  routerLink="Custom Software Services"   routerLinkActive="linkActive">Custom Software Services</a></li>
                        <li><a  routerLink="API Development"   routerLinkActive="linkActive">API Development</a></li>
                        <li><a  routerLink="Application Development"   routerLinkActive="linkActive">Application Development</a></li>
                        <li><a  routerLink="Application Maintenance"   routerLinkActive="linkActive">Application Maintenance</a></li>
                        <li><a  routerLink="Backup & Disaster Recovery"   routerLinkActive="linkActive">Backup & Disaster Recovery</a></li>
                        <li><a  routerLink="DevOps"   routerLinkActive="linkActive">DevOps</a></li>
                        <li><a  routerLink="Implementation & Deployment"   routerLinkActive="linkActive">Implementation & Deployment</a></li>
                        <li><a  routerLink="Infrastructure Support"   routerLinkActive="linkActive">Infrastructure Support</a></li>
                        <li><a  routerLink="Migrations & Upgrades"   routerLinkActive="linkActive">Migrations & Upgrades</a></li>
                        <li><a  routerLink="Product Lifecycle Management (PLM)"   routerLinkActive="linkActive">Product Lifecycle Management (PLM)</a></li>
                        <li><a  routerLink="Quality Assurance (QA Testing)"   routerLinkActive="linkActive">Quality Assurance (QA Testing)</a></li>
                        <li><a  routerLink="SLA Support"   routerLinkActive="linkActive">SLA Support</a></li>
                        <li><a  routerLink="Software Security"   routerLinkActive="linkActive">Software Security</a></li>
                        <li><a  routerLink="Startup & MVP Services"   routerLinkActive="linkActive">Startup & MVP Services</a></li>
                        <li><a  routerLink="Systems Integration"   routerLinkActive="linkActive">Systems Integration</a></li>
                        <li><a  routerLink="Web Hosting"   routerLinkActive="linkActive">Web Hosting</a></li>
                    </ul>
                </div>
                <div class="menu-niveau-3" >
                    <a class="DevTec" routerLink="portfolio"  routerLinkActive="linkActive"><span>DEVELOPPEMENT ET TECHNOLOGIE</span> </a>
                </div>
                <div class="menu-niveau-3" (click)="openSubMenu('PORTFOLIO')">
                    <span>PORTFOLIO</span> 
                    <mat-icon *ngIf = "isSubMenuPORTFOLIO"  style="float: right;" >clear</mat-icon>
                    <mat-icon *ngIf = "!isSubMenuPORTFOLIO"  style="float: right;">keyboard_arrow_down</mat-icon>
                    <ul *ngIf = "isSubMenuPORTFOLIO" (click)="doSomething()">
                        <li><a routerLink="Our Clients"   routerLinkActive="linkActive">Our Clients</a></li>
                        <li><a routerLink="Our Work"   routerLinkActive="linkActive">Our Work</a></li>
                    </ul>
                </div>
                <div div class="menu-niveau-3" (click)="doSomething()">
                    <button type="button" class="btn btn-primary">CONTACT</button>
                    <p class="teleph2">appelez   :   🇫🇷    +33x xx xx xx xx </p>
                </div>       
        </div>
    </div>
    
   
</div> 
