div.logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
    text-align: center;
    background: rgba(255, 255, 255, 0);
    .plogo{
        justify-content: center;
        border-top: 2px solid #FFCC00;
        border-bottom: 2px solid #FFCC00;
        padding: 5px 0;
        font-size: 20px;
        margin: 1px;
    }
}

.topnav {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    vertical-align: center;
    padding: 20px 0 0 0;
  }
  
  .topnav * {
    height: 60px; 
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
    
  }
  .topnav .clear{
      width: 60px; 
      height: 40px;
      padding: 10px; 
   // border: 1px solid red; 
    font-size:30px;cursor:pointer;
    }

.menu-niveau-1 {background: rgba(255, 255, 255, 0.8);}
  .menu-niveau-2 {
    width: 100%; height: auto;
  }

  .menu-niveau-2 .menu-niveau-3 {
      margin: 0 20px;
      padding: 20px 0;
      cursor: pointer;
      a{
        text-decoration: none;
        color: #000;
      }
      span {
        color: #000;
        text-align: center;
        padding: 14px 0;
        text-decoration: none;
        font-size: 20px;
        margin: 0;
      }
      
  }
  .menu-niveau-2 .menu-niveau-3:hover {
    span {font-weight: bold;}
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(226, 223, 223);
    color: white;
  }
  .linkActive {
    background: rgba(153, 146, 146, 0.445);
    font-weight: bold;
  }

  .alogo {width: 18%; text-decoration: none; color: black; padding: 19px;}
  .teleph {font-size:18px;}
  .teleph2{display: none;}
  @media screen and (max-width: 600px) {
    .topnav .teleph {display: none;}
    .menu-niveau-2 .menu-niveau-3 .teleph2{float: right; display: inline; margin: 10px 0;}
    .alogo {width: 50%;}
    .topnav {width: 50%;}
    
  }
  