
<section>
    <div class="niv-1">
        <div class="niv-2">
            <div class="row">
                <div class="sec1 col-md-12">
                    <h1>SOFTWARE DEVELOPMENT & SUPPORT <br> SERVICES FOR YOUR BUSINESS</h1>
                </div>  
            </div>
            <div class="row">
                <div class="sec1 col-md-12">
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                </div>  
            </div>
            <div class="row">
                <div class="sec1 col-md-12 col-md-offset-2">
                    <p class="marquee">
                        <img src="/assets/images/images (1).png" width="140" height="50" alt="">
                        <img src="/assets/images/images (2).png" width="140" height="50" alt="">
                        <img src="/assets/images/images (3).png" width="140" height="50" alt="">
                        <img src="/assets/images/images (4).png" width="140" height="50" alt="">
                        <img src="/assets/images/images (5).png" width="140" height="50" alt="">
                        <img src="/assets/images/images.png"     width="140" height="50" alt="">
                        <img src="/assets/images/images1.jpeg" width="140" height="50" alt="">
                        <img src="/assets/images/images2.jpeg" width="140" height="50" alt="">
                        <img src="/assets/images/images3.jpeg" width="140" height="50" alt="">
                        <img src="/assets/images/images4.jpeg" width="140" height="50" alt="">
                    </p> 
                </div>  
            </div>
            
        </div>
    </div>
</section>

<section>
    <div style="height: auto; padding: 15px;margin: 20px 0; text-align: center;">
        <div class="row">            
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div style=" width:100%; padding: 50px 15px 100px 15px; text-align: center;" class="col-lg-8 col-lg-offset-2">
                    <h2 class="h2section">Industry Experienced Developers, On-Demand</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="row" style="padding: 5px; text-align: center;">
                    <div style="padding: 5px 15px; text-align: center;" class="col-xs-12 col-md-4 col-lg-4">
                       <div>
                            <svg version="1.1" id="Layer_1" x="0px" y="0px" width="101.731px" height="80px" viewBox="0 0 101.731 80" enable-background="new 0 0 101.731 80" xml:space="preserve" aria-labelledby="App-Development-title App-Development-desc"><title id="App-Development-title">App Development</title><desc id="App-Development-desc">App Development Icon</desc><path fill="#0cb4c4" d="M99.25,80H74.439h-7.448h-9.924c-1.371,0-2.482-1.11-2.482-2.48v-7.444H43.453v2.461h8.058 c0.348,0,0.63,0.281,0.63,0.63v1.24c0,0.348-0.282,0.631-0.63,0.631H32.902c-0.349,0-0.631-0.281-0.631-0.631v-1.24 c0-0.347,0.282-0.63,0.631-0.63h8.075v-2.461H2.481C1.11,70.075,0,68.964,0,67.596V17.932c0-1.369,1.11-2.481,2.481-2.481h79.401 c1.37,0,2.48,1.112,2.48,2.481v11.166H99.25c1.369,0,2.48,1.11,2.48,2.481v45.938C101.731,78.89,100.62,80,99.25,80z M57.118,77.494 h17.35V45.231h-17.35V77.494z M81.912,17.939H2.532v49.629h52.052V45.226c0-1.369,1.111-2.481,2.482-2.481h7.444V31.579 c0-1.371,1.108-2.481,2.479-2.481h14.923V17.939H81.912z M99.28,31.586H67.041v11.16h7.398c1.371,0,2.479,1.11,2.479,2.48v32.268 H99.28V31.586z M82.524,72.536h1.242c0.349,0,0.631,0.281,0.631,0.63v1.24c0,0.348-0.282,0.631-0.631,0.631h-1.242 c-0.349,0-0.631-0.281-0.631-0.631v-1.24C81.893,72.817,82.175,72.536,82.524,72.536z M66.399,75.037h-1.242 c-0.349,0-0.632-0.281-0.632-0.631v-1.24c0-0.347,0.283-0.63,0.632-0.63h1.242c0.349,0,0.631,0.281,0.631,0.63v1.24 C67.03,74.754,66.748,75.037,66.399,75.037z"></path></svg>
                        </div>
                        <h3>App Development</h3>
                        <p>Our team of software developers can build exceptional applications across a breadth of devices including desktop, mobile and tablet. With the help of our industry expertise, we are able to give the end user the best application experience across multiple channels.</p>
                    </div>
                    <div style="border-left: 3px solid rgb(0, 151, 164);border-right: 3px solid #0097a4; padding: 5px 15px; text-align: center;" class="col-xs-12 col-md-4 col-lg-4">
                         <div>
                            <svg version="1.1" id="Layer_1" x="0px" y="0px" width="84.375px" height="80px" viewBox="-9.489 0 84.375 80" enable-background="new -9.489 0 84.375 80" xml:space="preserve" aria-labelledby="On-Demand-Developers-title On-Demand-Developers-desc"><title id="On-Demand-Developers-title">Software Development &amp; Support For Your Business | Chetu UK</title><desc id="On-Demand-Developers-desc">On-Demand Developers Icon</desc><g><g><g><path fill="#20A7AC" d="M33.017,47.462c-6.554,0-11.887-5.332-11.887-11.885c0-6.554,5.333-11.886,11.887-11.886 c6.554,0,11.885,5.332,11.885,11.886C44.902,42.13,39.571,47.462,33.017,47.462z M33.017,25.691 c-5.452,0-9.887,4.435-9.887,9.886c0,5.451,4.435,9.885,9.887,9.885c5.45,0,9.885-4.435,9.885-9.885 C42.902,30.125,38.467,25.691,33.017,25.691z"></path><path fill="#20A7AC" d="M33.017,13.962c-3.845,0-6.974-3.128-6.974-6.972c0-3.845,3.128-6.973,6.974-6.973 c3.845,0,6.973,3.128,6.973,6.973C39.99,10.834,36.862,13.962,33.017,13.962z M33.017,2.017c-2.743,0-4.974,2.231-4.974,4.973 s2.231,4.972,4.974,4.972c2.742,0,4.973-2.23,4.973-4.972S35.759,2.017,33.017,2.017z"></path></g></g><path fill="#20A7AC" d="M57.799,48.265c-5.411,0-9.813-4.4-9.813-9.81c0-5.412,4.402-9.814,9.813-9.814 c5.41,0,9.812,4.402,9.812,9.814C67.611,43.864,63.209,48.265,57.799,48.265z M57.799,30.641c-4.309,0-7.813,3.505-7.813,7.814 c0,4.306,3.505,7.81,7.813,7.81c4.308,0,7.812-3.504,7.812-7.81C65.611,34.146,62.107,30.641,57.799,30.641z"></path><g><g><g><path fill="#20A7AC" d="M74.781,74.651h-23.02V60.31c0-2.416-2.15-4.795-5.898-6.525l-1.836-0.848l1.788-0.944 c3.18-1.681,7.437-2.606,11.983-2.606c9.522,0,16.982,4.006,16.982,9.12V74.651z M53.761,72.651h19.02V58.506 c0-3.859-6.861-7.12-14.982-7.12c-3.345,0-6.601,0.558-9.231,1.559c3.367,2,5.194,4.567,5.194,7.365V72.651z"></path><path fill="#20A7AC" d="M14.272,74.651h-23.5V58.506c0-5.114,7.46-9.12,16.984-9.12c4.676,0,9.017,0.972,12.223,2.736 l1.706,0.938l-1.757,0.84c-3.595,1.718-5.656,4.054-5.656,6.409V74.651z M-7.229,72.651h19.5V60.31 c0-2.737,1.762-5.266,5.009-7.25c-2.681-1.074-6.044-1.674-9.525-1.674c-8.123,0-14.984,3.261-14.984,7.12V72.651z"></path><path fill="#20A7AC" d="M53.761,80.018H12.272V60.31c0-3.203,2.413-6.12,6.794-8.214c3.795-1.816,8.75-2.816,13.951-2.816 c5.063,0,9.922,0.955,13.684,2.688c4.553,2.103,7.061,5.064,7.061,8.342V80.018z M14.272,78.018h37.489V60.31 c0-2.416-2.15-4.795-5.898-6.525c-3.504-1.615-8.065-2.505-12.846-2.505c-4.908,0-9.557,0.931-13.088,2.621 c-3.595,1.718-5.657,4.054-5.657,6.409V78.018z"></path></g><path fill="#20A7AC" d="M7.756,48.265c-5.411,0-9.813-4.4-9.813-9.81c0-5.412,4.402-9.814,9.813-9.814 c5.41,0,9.811,4.402,9.811,9.814C17.567,43.864,13.165,48.265,7.756,48.265z M7.756,30.641c-4.309,0-7.813,3.505-7.813,7.814 c0,4.306,3.505,7.81,7.813,7.81c4.307,0,7.811-3.504,7.811-7.81C15.567,34.146,12.063,30.641,7.756,30.641z"></path><path fill="#20A7AC" d="M17.97,26.163c-4.35,0-7.888-3.54-7.888-7.891c0-4.351,3.539-7.89,7.888-7.89 c4.352,0,7.893,3.539,7.893,7.89C25.863,22.623,22.323,26.163,17.97,26.163z M17.97,12.382c-3.247,0-5.888,2.642-5.888,5.89 c0,3.248,2.642,5.891,5.888,5.891c3.249,0,5.893-2.643,5.893-5.891C23.863,15.024,21.219,12.382,17.97,12.382z"></path><path fill="#20A7AC" d="M48.06,26.163c-4.351,0-7.89-3.54-7.89-7.891c0-4.351,3.539-7.89,7.89-7.89s7.89,3.539,7.89,7.89 C55.949,22.623,52.41,26.163,48.06,26.163z M48.06,12.382c-3.248,0-5.89,2.642-5.89,5.89c0,3.248,2.642,5.891,5.89,5.891 s5.89-2.643,5.89-5.891C53.949,15.024,51.308,12.382,48.06,12.382z"></path></g></g></g></svg>
                        </div>
                        <h3>On-Demand Developers</h3>
                       <p>We are proud to employ over 2,200 in-house developers with a variety of software development experience in an array of industries. This enables us to be a one-stop shop, removing the hassles of managing multiple vendors, logistics, and technological bottlenecks.</p>
                    </div>
                    <div style="padding: 5px 15px; text-align: center;" class="col-xs-12 col-md-4 col-lg-4">
                        <div>
                            <svg version="1.1" id="Layer_1" x="0px" y="0px" width="78.798px" height="80px" viewBox="0 0 78.798 80" enable-background="new 0 0 78.798 80" xml:space="preserve" aria-labelledby="Product-Support-title Product-Support-desc"><title id="Product-Support-title">Product Support</title><desc id="Product-Support-desc">Product Support Icon</desc><g><g><path fill="#20A7AC" d="M23.529,0.966c0.129-0.651,0.763-1.073,1.414-0.943l9.015,1.803c0.422,0.085,0.766,0.389,0.904,0.796 c0.136,0.408,0.046,0.857-0.24,1.179l-5.716,6.461c-0.44,0.498-1.2,0.544-1.697,0.104c-0.497-0.44-0.544-1.2-0.104-1.697 l2.937-3.318C17.538,9.789,7.925,20.281,4.775,33.338c-0.156,0.645-0.805,1.042-1.45,0.886c-0.646-0.155-1.042-0.804-0.888-1.45 C5.743,19.071,15.75,8.04,28.794,3.245l-4.323-0.864C23.82,2.251,23.398,1.617,23.529,0.966z"></path><path fill="#20A7AC" d="M77.832,22.927c0.652,0.13,1.074,0.763,0.943,1.415l-1.802,9.015c-0.087,0.422-0.389,0.766-0.796,0.904 c-0.408,0.137-0.858,0.046-1.181-0.239l-6.461-5.716c-0.497-0.44-0.542-1.199-0.104-1.697c0.441-0.497,1.2-0.543,1.698-0.103 l3.318,2.936C69.01,16.937,58.517,7.323,45.46,4.173c-0.646-0.155-1.043-0.805-0.886-1.45c0.155-0.645,0.804-1.042,1.449-0.887 c13.703,3.304,24.734,13.312,29.529,26.356l0.864-4.323C76.548,23.218,77.181,22.796,77.832,22.927z"></path><path fill="#20A7AC" d="M55.27,79.034c-0.13,0.65-0.764,1.073-1.413,0.941l-9.016-1.802c-0.423-0.085-0.767-0.387-0.902-0.796 c-0.139-0.409-0.047-0.857,0.238-1.179l5.717-6.462c0.439-0.496,1.199-0.543,1.697-0.103c0.497,0.438,0.542,1.198,0.104,1.694 l-2.937,3.321c12.504-4.44,22.116-14.931,25.266-27.987c0.155-0.646,0.805-1.044,1.45-0.889c0.646,0.157,1.042,0.806,0.887,1.451 c-3.304,13.702-13.312,24.733-26.357,29.529l4.324,0.863C54.978,77.749,55.4,78.382,55.27,79.034z"></path><path fill="#20A7AC" d="M0.967,57.073c-0.65-0.131-1.073-0.764-0.943-1.415l1.804-9.017c0.083-0.42,0.387-0.764,0.795-0.9 c0.408-0.138,0.857-0.047,1.179,0.237l6.461,5.718c0.498,0.438,0.543,1.198,0.104,1.696c-0.439,0.497-1.199,0.542-1.697,0.104 l-3.318-2.936c4.438,12.501,14.93,22.117,27.987,25.265c0.645,0.157,1.042,0.807,0.886,1.451 c-0.155,0.646-0.805,1.042-1.451,0.888C19.072,74.858,8.042,64.851,3.246,51.808L2.381,56.13 C2.251,56.781,1.618,57.204,0.967,57.073z"></path></g><g><path fill="#20A7AC" d="M62.66,34.832h-1.906c-0.055-0.231-0.114-0.46-0.178-0.688c-0.24-0.871-0.532-1.72-0.873-2.545 c-0.344-0.829-0.74-1.641-1.188-2.432c-0.115-0.206-0.235-0.409-0.359-0.612l1.346-1.346c1.01-1.011,1.01-2.646,0-3.655 l-3.653-3.656c-1.011-1.009-2.646-1.009-3.656,0l-1.347,1.348c-0.202-0.124-0.407-0.244-0.611-0.36 c-0.793-0.45-1.607-0.847-2.441-1.19c-0.821-0.34-1.666-0.632-2.535-0.872c-0.229-0.062-0.458-0.122-0.688-0.178v-1.904 c0-1.427-1.159-2.584-2.587-2.584h-5.167c-1.427,0-2.584,1.157-2.584,2.584v1.904c-0.23,0.056-0.46,0.116-0.688,0.178 c-0.878,0.243-1.735,0.538-2.566,0.884c-0.821,0.341-1.626,0.732-2.411,1.178c-0.206,0.117-0.409,0.236-0.612,0.36l-1.346-1.348 c-1.01-1.009-2.646-1.009-3.655,0l-3.656,3.656c-1.009,1.009-1.009,2.644,0,3.655l1.347,1.346 c-0.123,0.203-0.243,0.406-0.36,0.612c-0.449,0.791-0.844,1.603-1.187,2.431c-0.342,0.824-0.634,1.675-0.875,2.546 c-0.063,0.228-0.122,0.457-0.178,0.688H16.14c-1.427,0-2.584,1.157-2.584,2.584v5.168c0,1.428,1.157,2.585,2.584,2.585h1.904 c0.056,0.23,0.116,0.458,0.178,0.688c0.242,0.877,0.538,1.732,0.882,2.563c0.341,0.823,0.733,1.629,1.18,2.415 c0.117,0.204,0.237,0.409,0.36,0.611l-1.347,1.347c-1.009,1.01-1.009,2.646,0,3.656l3.656,3.653c1.009,1.009,2.645,1.009,3.655,0 l1.346-1.347c0.203,0.123,0.406,0.243,0.612,0.36c0.784,0.444,1.589,0.838,2.411,1.178c0.831,0.348,1.688,0.641,2.566,0.884 C33.771,61.24,34,61.3,34.231,61.354v1.906c0,1.426,1.157,2.582,2.584,2.582h5.167c1.428,0,2.587-1.156,2.587-2.582v-1.906 c0.229-0.055,0.458-0.114,0.688-0.178c0.869-0.239,1.715-0.53,2.538-0.872c0.831-0.344,1.646-0.74,2.438-1.189 c0.204-0.117,0.409-0.237,0.611-0.36l1.347,1.347c1.01,1.009,2.646,1.009,3.656,0l3.653-3.653c1.01-1.011,1.01-2.646,0-3.656 l-1.346-1.347c0.124-0.202,0.244-0.407,0.359-0.611c0.447-0.788,0.841-1.596,1.183-2.419c0.344-0.828,0.637-1.684,0.879-2.559 c0.063-0.229,0.123-0.457,0.178-0.688h1.906c1.427,0,2.583-1.157,2.583-2.585v-5.168C65.243,35.988,64.086,34.832,62.66,34.832z M62.66,42.584H58.72l-0.478,1.978c-0.051,0.205-0.102,0.405-0.157,0.607h-0.002c-0.21,0.765-0.469,1.521-0.775,2.259 c-0.306,0.734-0.653,1.443-1.04,2.128v0.002c-0.103,0.182-0.208,0.361-0.318,0.54l-1.062,1.735l2.786,2.786l-3.656,3.655 l-2.785-2.785l-1.735,1.062c-0.179,0.11-0.358,0.215-0.54,0.318h-0.002c-0.691,0.391-1.41,0.741-2.152,1.05 c-0.732,0.302-1.478,0.558-2.234,0.765v0.002c-0.2,0.056-0.403,0.106-0.607,0.158l-1.979,0.477v3.94h-5.167v-3.94l-1.978-0.477 c-0.204-0.052-0.405-0.103-0.606-0.158v-0.002c-0.769-0.213-1.526-0.471-2.27-0.778c-0.729-0.305-1.437-0.651-2.118-1.036h-0.001 c-0.182-0.104-0.361-0.208-0.54-0.318l-1.737-1.062l-2.785,2.785l-3.655-3.655l2.787-2.786l-1.062-1.735 c-0.109-0.179-0.215-0.358-0.318-0.54l0.001-0.002c-0.388-0.685-0.737-1.394-1.041-2.128c-0.307-0.738-0.566-1.494-0.777-2.259 h-0.002c-0.055-0.202-0.107-0.402-0.156-0.607l-0.478-1.978H16.14v-5.168h3.939l0.478-1.978c0.048-0.204,0.101-0.405,0.156-0.606 h0.002c0.21-0.76,0.466-1.509,0.77-2.243c0.305-0.739,0.657-1.456,1.048-2.146l-0.001,0c0.103-0.182,0.209-0.362,0.318-0.54 l1.062-1.737l-2.787-2.785l3.655-3.655l2.785,2.787l1.737-1.063c0.178-0.108,0.358-0.214,0.54-0.317l0.001,0.001 c0.682-0.388,1.39-0.734,2.121-1.039c0.742-0.308,1.5-0.567,2.267-0.779v-0.002c0.201-0.055,0.402-0.107,0.606-0.156l1.978-0.479 v-3.938h5.167v3.938l1.979,0.479c0.204,0.048,0.407,0.101,0.607,0.156v0.002c0.757,0.208,1.502,0.464,2.234,0.766 c0.742,0.307,1.461,0.659,2.152,1.052l0.002-0.001c0.182,0.103,0.361,0.209,0.54,0.317l1.735,1.063l2.785-2.787l3.656,3.655 l-2.786,2.785l1.062,1.737c0.11,0.178,0.216,0.358,0.318,0.54l-0.003,0c0.393,0.69,0.743,1.407,1.05,2.146 c0.303,0.733,0.56,1.483,0.769,2.243h0.002c0.056,0.201,0.106,0.402,0.157,0.606l0.478,1.978h3.939V42.584z"></path><path fill="#20A7AC" d="M39.399,29.662c-5.709,0-10.338,4.628-10.338,10.338c0,5.708,4.628,10.338,10.338,10.338 c5.708,0,10.336-4.63,10.336-10.338C49.736,34.291,45.108,29.662,39.399,29.662z M39.399,47.935c-4.382,0-7.934-3.554-7.934-7.935 c0-4.382,3.552-7.934,7.934-7.934c4.381,0,7.934,3.551,7.934,7.934C47.333,44.381,43.781,47.935,39.399,47.935z"></path></g></g></svg>
                        </div>
                        <h3>Product Support</h3>
                        <p>We partner with other industry leaders to deploy superior software solutions for our clients. Our certified developers are capable of implementing new software, seamlessly integrating it to your organisation as well as providing support for any future upgrades.</p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section3">
        <div class="row" style="padding: 25px;">
            <div style="padding: 5px 15px; text-align: center;" class="col-xs-12 col-md-4 col-lg-4">
            </div>
            <div style="padding: 5px 15px; text-align: left; margin-top: 120px;" class="col-xs-12 col-md-3 col-lg-3">
                
                <h2>Industry
                    <br> <span style="color: #0097a4; font-size: 40px;font-family: Lucida Console, Courier New, monospace; font-weight: bold;">
                        EXPERTS</span>
                </h2>
                <h3 style="line-height: 60%; font-size: 25px;font-weight: bold; margin-top: 50px; ">OVER 2,200 
                    <br style="margin: 0; padding: 0;">DEVELOPERS
                </h3>
                <br style="margin: 0; padding: 0;border: 2px solid #0097a4; width: 160px;">
            </div>
            <div style="padding: 5px 15px; text-align: left;" class="col-xs-12 col-md-5 col-lg-5">
                <div>
                    <ul>
                        <hr style="border: 1px solid black; width: 50%; opacity:1">
                        <li><a  routerLink="AGRICULTURE"   routerLinkActive="linkActive1">AGRICULTURE</a></li>
                        <li><a  routerLink="AVIATION"   routerLinkActive="linkActive1">AVIATION</a></li>
                        <li><a  routerLink="E-LEARNING"   routerLinkActive="linkActive1">E-LEARNING</a></li>
                        <li><a  routerLink="FINANCE"   routerLinkActive="linkActive1">FINANCE</a></li>
                        <li><a  routerLink="CASINO GAMES"   routerLinkActive="linkActive1">CASINO GAMES</a></li>
                        <li><a  routerLink="GAMING"   routerLinkActive="linkActive1">GAMING</a></li>
                        <li><a  routerLink="HEALTHCARE"   routerLinkActive="linkActive1">HEALTHCARE</a></li>
                        <li><a  routerLink="HOSPITALITY & TRAVEL"   routerLinkActive="linkActive1">HOSPITALITY & TRAVEL</a></li>
                        <li><a  routerLink="HUMAN CAPITAL MANAGEMENT"   routerLinkActive="linkActive1">HUMAN CAPITAL MANAGEMENT</a></li>
                        <li><a  routerLink="MEETINGS & EVENTS"   routerLinkActive="linkActive1">MEETINGS & EVENTS</a></li>
                        <li><a  routerLink="REAL ESTATE"   routerLinkActive="linkActive1">REAL ESTATE</a></li>
                        <li><a  routerLink="RETAIL"   routerLinkActive="linkActive1">RETAIL</a></li>
                        <li><a  routerLink="SUPPLY CHAIN"   routerLinkActive="linkActive1">SUPPLY CHAIN</a></li>
                        <li><a  routerLink="TRANSPORTATION"   routerLinkActive="linkActive1">TRANSPORTATION</a></li>
                        <hr style="border: 1px solid black; width: 50%; opacity:1">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div style="height: auto; padding: 15px;margin: 20px 0; text-align: center;">
        <div class="row">            
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div style=" width:100%; padding: 50px 15px 100px 15px; text-align: center;" class="col-lg-8 col-lg-offset-2">
                    <h2 class="h2section">Software Development Done Right</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="row" style="padding: 5px; text-align: center;">
                    <div style="padding: 5px 15px; text-align: center;" class="col-xs-12 col-md-6 col-lg-6">
                        <div style="padding: 20px; border-radius: 5%; background: black;">
                            <video id="video-tab" preload="none" controls="" poster="https://www.chetu.com/video/images/Promo_Video_04985.jpg" width="100%">
                                <source src="https://www.chetu.com/video/IT_Outsourcing_HDTV_V11_With_Music_Voice.mp4" type="video/mp4">
                                <source src="https://www.chetu.com/video/IT_Outsourcing_HDTV_V11_With_Music_Voice.ogv" type="video/ogg">
                                <source src="https://www.chetu.com/video/IT_Outsourcing_HDTV_V11_With_Music_Voice.webm" type="video/webm">
                            </video>
                        </div>
                        
                    </div>
                    <div style="padding: 5px 15px; text-align: left;" class="col-xs-12 col-md-6 col-lg-6">
                        <div>
                            <h3 class="h3sec4">Real-Time Communication </h3>
                            <p style="margin-bottom: 50px;">Our developers work within your nearshore time zone to allow for real-time collabouration. We work to achieve a true 'branch location' feel. We infuse accountability and transparency into our model with regular management and progress reports.</p>
                            <h3 class="h3sec4">Scalable Business Model </h3>
                            <p style="margin-bottom: 50px;">We work with you to find the areas that are best suited to bring you value. Based on your needs, our flexible business model gives you the option to increase or decrease the size of your dedicated team at any point of the lifecycle.</p>
                            <h3 class="h3sec4">You Own The Source Code</h3>
                            <p style="margin-bottom: 50px;">Most software companies insist on owning their own source codes to prevent their clients from seeking out other vendors or tools. Under our agreement, you are the sole proprietor of the source code and intellectual property.</p>
                            <div style="padding: 5px 15px; text-align: center;">
                                <button type="button" class="btn btn-outline-warning">Discuss how our model fits your business</button>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</section>



<section>
    <div class="row section4" style="">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div style=" width:100%; padding: 50px 15px 100px 15px; text-align: center;" >
                <h2 class="h2section">Global Solutions, Local Services</h2> {{posY}}
            </div>
        </div>
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div style="width: 50%;">
                            <span style="font-size: 30px; font-weight: bold;">{{StrategicLocations}}</span>
                            <hr style="border: 1px solid #0097a4; width: auto; opacity:1">
                            <span style="font-weight: bold;">Strategic Locations</span>
                        </div>
                    </div>
                    <div class="flex-item-medium"> 
                        <div style="width: 50%; ">
                            <span style="font-size: 30px; font-weight: bold;">{{DedicatedDevelopers}}</span>
                            <hr style="border: 1px solid #0097a4; width: auto; opacity:1">
                            <span style="font-weight: bold;">Dedicated Developers</span>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div style="width: 50%;">
                            <span style="font-size: 30px; font-weight: bold;">{{CustomApps}}</span>
                            <hr style="border: 1px solid #0097a4; width: auto; opacity:1">
                            <span style="font-weight: bold;">Custom Apps</span>
                        </div>
                    </div>
                  </div>
            </div>            
        </div>
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div style="width: 50%;">
                            <span style="font-size: 30px; font-weight: bold;">{{SpecializedIndustries}}</span>
                            <hr style="border: 1px solid #0097a4; width: auto; opacity:1">
                            <span style="font-weight: bold;">Specialized Industries</span>
                        </div>
                    </div>
                    <div class="flex-item-medium"> 
                        <div style="width: 50%;">
                            <span style="font-size: 30px; font-weight: bold;">{{GlobalCustomers}}</span>
                            <hr style="border: 1px solid #0097a4; width: auto; opacity:1">
                            <span style="font-weight: bold;">Global Customers</span>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div style="width: 50%;">
                            <span style="font-size: 30px; font-weight: bold;">{{DevelopmentAwards}}</span>
                            <hr style="border: 1px solid #0097a4; width: auto; opacity:1">
                            <span style="font-weight: bold;">Development Awards</span>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>




