
section{
    width: 100%;
    height: auto;
}
.niv-1 {
    width: 100%; height: auto; //border: 1px solid yellow; /assets/images/images5.jpeg #0097a4 !important
    //background-image: url("/assets/images.jpeg");
    background-image: url("/assets/images/images5.jpeg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.niv-2 {
    width: 100%; height: 100%; 
    background:  rgb(0, 151, 164, 0.4);
    padding-top: 12%;
    
}
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    color: white;
    font-size: 4.5em; /* 40px/16=2.5em */
    text-shadow: 0px 3px 15px rgba(0,0,0,.6);
    //border: 2px solid red;
    margin: 0 auto;
    text-align: center;
    height: 100px;
}

.h2section {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  color: #0097a4 !important;
  font-size: 2.5em; /* 40px/16=2.5em */
  //border: 2px solid red;
  margin: 0 auto;
  text-align: center;
  
}

.h3sec4 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  color: #0097a4 !important;
  font-size: 1.5em; /* 40px/16=2.5em */
  //border: 2px solid red;
  margin: 0 0 0 0;
  text-align: left;
  
}

.sec1  {
    //border: 2px solid red;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.8em !important;
}
.btn  {
    width: auto;
    cursor: pointer;
}
@media screen and (max-width: 1150px) {
  h1 {font-size: 3.5em;}
  h2 {font-size: 1.5em;}
}

/**************************/
.marquee {
  background: transparent !important;
  width: 80%;
  margin: 10% 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
.marquee img {
  display: inline-block;
  font-size: 20px;
  position: relative;
  left: 100%;
  animation: marquee 18s linear 1s infinite;
}
/*.marquee:hover img {
  animation-play-state: paused;
}*/

.marquee img:nth-child(1) {
  animation-delay: 0s;
}
.marquee img:nth-child(2) {
  animation-delay: 1s;
}
.marquee img:nth-child(3) {
  animation-delay: 2s;
}
.marquee img:nth-child(4) {
  animation-delay: 3s;
}
.marquee img:nth-child(5) {
  animation-delay: 4s;
}
.marquee img:nth-child(6) {
  animation-delay: 5s;
}
.marquee img:nth-child(7) {
  animation-delay: 6s;
}
.marquee img:nth-child(8) {
  animation-delay: 7s;
}
.marquee img:nth-child(9) {
  animation-delay: 8s;
}
.marquee img:nth-child(10) {
  animation-delay: 9s;
}

@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}
/****************************/

.section3{
  height: auto; 
  padding: 15px; 
  text-align: center;
  background-image: url("/assets/website-section-white.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;

  ul {
    list-style-type: none;
    width: 30%;
    margin: 30px 0;
    padding: 0;
    overflow: hidden;
    
  }

  
  li a{
    display: block;
    color: black;
    text-align: left;
    padding:  2px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #0097a4;
  }
}


.section4 {
  .flex-container {
    display: flex;
    flex-direction: wrap;
    //font-size: 30px;
    //text-align: center;
  }
  .flex-container>div{
    padding: 10px;
    flex: 50%;
    display: flex;
    justify-content: center;
   // border: 2px solid red;
  }
  
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
}